# Money and Sports

In [18]:
import plot_lib as pl, stats_lib as sl, pandas as pd

## Exercise One

In [24]:
df = pd.read_csv('team_salaries.csv')
df = df.set_index(["year", "team"]).sort_index()
df["salary_pct"] = df["salary"] / df.groupby('year')["salary"].sum()
df['mean'] = df.groupby('year')["salary"].mean()
df.groupby('year')['salary'].median()

year
1986     11841279.0
1987     11416984.0
1988     12742000.0
1989     14572611.0
1990     16226944.5
1991     24306112.0
1992     31755425.0
1993     29413045.5
1994     31023291.5
1995     31974009.0
1996     32990513.0
1997     36595665.0
1998     47939715.0
1999     46337129.0
2000     54279413.0
2001     61857667.0
2002     60701708.5
2003     70910000.0
2004     72435643.5
2005     70034916.5
2006     79084737.0
2007     79138666.5
2008     78954333.5
2009     78893805.5
2010     84325333.5
2011     86250012.5
2012     85753487.5
2013     89778192.0
2014    110897341.0
2015    105002536.0
2016    112895700.0
2017    112437541.0
2018    132500000.0
2019    140711962.0
2020     66525837.0
2021    134459435.0
2022    130560000.0
2023    166250466.0
2024    156511716.0
2025    156511716.0
Name: salary, dtype: float64

In [ ]:
# lp = pl.ScatterPlot(df['salary_pct'], df['w_pct'], "Win Representation", 'salary percentage', 'win percentage')
# pl.SubPlot([[lp]]).plot()
min_idx = df['w_pct'].idxmin()