In [1]:
import plot_lib as pl, stats_lib as sl, pandas as pd

In [2]:
team_df = pd.read_csv('team_salaries.csv')
team_df

     year                   team    w    l   wpct     salary
0    1986          New York Mets  108   54  0.667   13597780
1    1986  Philadelphia Phillies   86   75  0.534   11715166
2    1986    St. Louis Cardinals   79   82  0.491    9481677
3    1986         Montreal Expos   78   83  0.484   11937394
4    1986           Chicago Cubs   70   90  0.438   16904832
..    ...                    ...  ...  ...    ...        ...
582  2025    Los Angeles Dodgers   93   69  0.574  220691666
583  2025       San Diego Padres   90   72  0.556  153765453
584  2025   San Francisco Giants   81   81  0.500  188767909
585  2025   Arizona Diamondbacks   80   82  0.494  156511716
586  2025       Colorado Rockies   43  119  0.265  134099285

[587 rows x 6 columns]